In [1]:
%load_ext sql

In [2]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

'Connected: student@sparkifydb'

In [3]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(1, 1543449657796, 73, 'paid', None, None, 954, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (2, 1543449690796, 24, 'paid', None, None, 984, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (3, 1543449841796, 24, 'paid', None, None, 984, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (4, 1543449895796, 73, 'paid', None, None, 954, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (5, 1543450033796, 24, 'paid', None, None, 984, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"')]

In [4]:
%sql SELECT DISTINCT * FROM users LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(66, 'Kevin', 'Arellano', 'M', 'free'),
 (49, 'Chloe', 'Cuevas', 'F', 'paid'),
 (82, 'Avery', 'Martinez', 'F', 'paid'),
 (44, 'Aleena', 'Kirby', 'F', 'paid'),
 (18, 'Jacob', 'Rogers', 'M', 'free')]

In [5]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[('SOFNOQK12AB01840FC', 'Kutt Free (DJ Volume Remix)', 'ARNNKDK1187B98BBD5', 0, Decimal('407.37914')),
 ('SOBAYLL12A8C138AF9', 'Sono andati? Fingevo di dormire', 'ARDR4AC1187FB371A1', 0, Decimal('511.16363')),
 ('SOFFKZS12AB017F194', 'A Higher Place (Album Version)', 'ARBEBBY1187B9B43DB', 1994, Decimal('236.17261')),
 ('SOGVQGJ12AB017F169', 'Ten Tonne', 'AR62SOJ1187FB47BB5', 2005, Decimal('337.68444')),
 ('SOXILUQ12A58A7C72A', 'Jenny Take a Ride', 'ARP6N5A1187B99D1A3', 2004, Decimal('207.43791'))]

In [6]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[('ARNNKDK1187B98BBD5', 'Jinx', 'Zagreb Croatia', Decimal('45.807259999999999'), Decimal('15.967600000000001')),
 ('ARDR4AC1187FB371A1', 'Montserrat Caballé;Placido Domingo;Vicente Sardinero;Judith Blegen;Sherrill Milnes;Georg Solti', '', Decimal('NaN'), Decimal('NaN')),
 ('ARBEBBY1187B9B43DB', 'Tom Petty', 'Gainesville, FL', Decimal('NaN'), Decimal('NaN')),
 ('AR62SOJ1187FB47BB5', 'Chase & Status', '', Decimal('NaN'), Decimal('NaN')),
 ('ARP6N5A1187B99D1A3', 'Mitch Ryder', 'Hamtramck, MI', Decimal('NaN'), Decimal('NaN'))]

In [7]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(1543449657796, 0, 29, 4, 11, 2018, 3),
 (1543449690796, 0, 29, 4, 11, 2018, 3),
 (1543449841796, 0, 29, 4, 11, 2018, 3),
 (1543449895796, 0, 29, 4, 11, 2018, 3),
 (1543450033796, 0, 29, 4, 11, 2018, 3)]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).

In [8]:
%sql SELECT CONCAT('|',title,'|') FROM songs;

 * postgresql://student:***@127.0.0.1/sparkifydb
71 rows affected.

[('|Kutt Free (DJ Volume Remix)|',),
 ('|Sono andati? Fingevo di dormire|',),
 ('|A Higher Place (Album Version)|',),
 ('|Ten Tonne|',),
 ('|Jenny Take a Ride|',),
 ('|Got My Mojo Workin|',),
 ('|Wild Rose (Back 2 Basics Mix)|',),
 ('|Loaded Like A Gun|',),
 ('|Get Your Head Stuck On Your Neck|',),
 ('|Clementina Santafè|',),
 ('|Rumba De Barcelona|',),
 ('|Sonnerie lalaleulé hi houuu|',),
 ('|Living Hell|',),
 ('|City Slickers|',),
 ('|Native Soul|',),
 ('|Intro|',),
 ('|Streets On Fire (Explicit Album Version)|',),
 ('|Music is what we love|',),
 ('|Midnight Star|',),
 ('|Prognosis|',),
 ('|The Ballad Of Sleeping Beauty|',),
 ('|Der Kleine Dompfaff|',),
 ('|Harajuku Girls|',),
 ('|A Whiter Shade Of Pale (Live @ Fillmore West)|',),
 ('|Erica (2005 Digital Remaster)|',),
 ('|I Hold Your Hand In Mine [Live At Royal Albert Hall]|',),
 ('|Baby Come To Me|',),
 ('|Wessex Loses a Bride|',),
 ('|It Wont Be Christmas|',),
 ('|OAKtown|',),
 ('|Salt In NYC|',),
 ('|Knocked Out Of The Park|',),
 ('|Larger Than Life|',),
 ('|Den Pai Alo|',),
 ('|Blessed Assurance|',),
 ('|Kassie Jones|',),
 ('|Broken-Down Merry-Go-Round|',),
 ('|Tonight Will Be Alright|',),
 ('|Caught In A Dream|',),
 ('|High Tide|',),
 ('|La Culpa|',),
 ('|Auguri Cha Cha|',),
 ('|Floating|',),
 ('|Sohna Nee Sohna Data|',),
 ('|Synthetic Dream|',),
 ('|The Urgency (LP Version)|',),
 ('|Setting Fire to Sleeping Giants|',),
 ('|I Think My Wife Is Running Around On Me (Taco Hell)|',),
 ('|It Makes No Difference Now|',),
 ('|Superconfidential|',),
 ('|Setanta matins|',),
 ('|Do You Finally Need A Friend|',),
 ('|Crazy Mixed Up World|',),
 ('|Laws Patrolling (Album Version)|',),
 ('|¿Dónde va Chichi?|',),
 ('|Twist and Shout|',),
 ('|Made Like This (Live)|',),
 ('|The Emperor Falls|',),
 ('|James (Hold The Ladder Steady)|',),
 ('|Spanish Grease|',),
 ('|Keepin It Real (Skit)|',),
 ('|Face the Ashes|',),
 ('|Amor De Cabaret|',),
 ('|Insatiable (Instrumental Version)|',),
 ("|I Didn't Mean To|",),
 ('|Drop of Rain|',),
 ('|Pink World|',),
 ('|Something Girls|',),
 ('|The Moon And I (Ordinary Day Album Version)|',),
 ('|Soul Deep|',),
 ('|Young Boy Blues|',)]

In [9]:
%sql SELECT * FROM songs WHERE title like 'Invalid';

 * postgresql://student:***@127.0.0.1/sparkifydb
0 rows affected.

[]

In [10]:
%sql SELECT version();

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[('PostgreSQL 9.5.14 on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 5.4.0-6ubuntu1~16.04.10) 5.4.0 20160609, 64-bit',)]

In [8]:
%sql SELECT * from information_schema.columns WHERE TABLE_NAME='songplays';

 * postgresql://student:***@127.0.0.1/sparkifydb
9 rows affected.

[('sparkifydb', 'public', 'songplays', 'songplay_id', 1, "nextval('songplays_songplay_id_seq'::regclass)", 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'sparkifydb', 'pg_catalog', 'int4', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, None, 'NEVER', None, 'YES'),
 ('sparkifydb', 'public', 'songplays', 'start_time', 2, None, 'YES', 'bigint', None, None, 64, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'sparkifydb', 'pg_catalog', 'int8', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, None, 'NEVER', None, 'YES'),
 ('sparkifydb', 'public', 'songplays', 'user_id', 3, None, 'YES', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'sparkifydb', 'pg_catalog', 'int4', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, None, 'NEVER', None, 'YES'),
 ('sparkifydb', 'public', 'songplays', 'level', 4, None, 'YES', 'character varying', None, 1073741824, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'sparkifydb', 'pg_catalog', 'varchar', None, None, None, None, '4', 'NO', 'NO', None, None, None, None, None, None, 'NEVER', None, 'YES'),
 ('sparkifydb', 'public', 'songplays', 'song_id', 5, None, 'YES', 'character varying', None, 1073741824, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'sparkifydb', 'pg_catalog', 'varchar', None, None, None, None, '5', 'NO', 'NO', None, None, None, None, None, None, 'NEVER', None, 'YES'),
 ('sparkifydb', 'public', 'songplays', 'artist_id', 6, None, 'YES', 'character varying', None, 1073741824, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'sparkifydb', 'pg_catalog', 'varchar', None, None, None, None, '6', 'NO', 'NO', None, None, None, None, None, None, 'NEVER', None, 'YES'),
 ('sparkifydb', 'public', 'songplays', 'session_id', 7, None, 'YES', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'sparkifydb', 'pg_catalog', 'int4', None, None, None, None, '7', 'NO', 'NO', None, None, None, None, None, None, 'NEVER', None, 'YES'),
 ('sparkifydb', 'public', 'songplays', 'location', 8, None, 'YES', 'character varying', None, 1073741824, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'sparkifydb', 'pg_catalog', 'varchar', None, None, None, None, '8', 'NO', 'NO', None, None, None, None, None, None, 'NEVER', None, 'YES'),
 ('sparkifydb', 'public', 'songplays', 'user_agent', 9, None, 'YES', 'character varying', None, 1073741824, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'sparkifydb', 'pg_catalog', 'varchar', None, None, None, None, '9', 'NO', 'NO', None, None, None, None, None, None, 'NEVER', None, 'YES')]